.Modal {
  border: 5px solid rgb(37, 41, 22);  
  position: absolute;
  background-color: rgba(37, 138, 185, 0.521);
  width: 100%;
  height: 100%;
}

.Overlay {
  border: 5px solid yellow;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: red;
}

.caja {
  border: 5px solid blue;
  overflow: hidden;
}

.info {
  transform: translate(-100%);
  position: absolute;
  background-color: rgba(31, 78, 165, 0.705);
  width: 100%;
  height: 100%;
  transition: all 1s 0s ease-in-out;
}

.caja:hover .info {
  transform: translate(0);
}

/*  minicard */

.minicard {
  background-color: khaki;
  position: relative;
}

.minicard .botonminicard {
  position: absolute;
  bottom: 0;
  animation: botonanimado 3s 0s infinite;
}


@keyframes botonanimado {
  0% {
    transform: scale(3) rotate(0deg);
    color: rgb(25, 0, 255);
  }
  50% {
    transform: scale(3) rotate(180deg);
    color: yellow;
  }

  100%{
    transform: scale(3) rotate(360deg);
    color: rgb(10, 36, 121);  
  }
}
